<html xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" href="/img/favicon.png" />
      <title>CLIENT</title>
      <!-- CSS-->
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto&amp;display=swap" />
      <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
      <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
      <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
      <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
        <link rel="stylesheet" :href="theme" />
        <main :class="{ 'backgroundWhite': PresentationMode }">
            <nav class="navbar d-sm-none d-md-none d-lg-none d-xl-none">
              <a class="navbar-brand mx-auto" href="#">
                  <img src="/img/favicon.png" width="30" />
              </a>
            </nav>
            <ul class="nav nav-tabs" v-show="!PresentationMode">
                <li class="nav-item d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    <a class="nav-link" data-toggle="tab" @click="homeButtonClick">
                        <img src="/img/favicon.png" />
                        <span>NOVA</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="dashboardButton" class="nav-link active" data-toggle="tab" href="#home">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>{{ Dictionary.dashboard }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#chat">
                        <i class="far fa-comment-alt"></i>
                        <span>Chat</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" v-bind:href="server.url">
                        <i class="fas fa-server"></i>
                        <span>Server</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content" :class="{ 'withoutTopBar': PresentationMode }">
                <div class="tab-pane fade show active" id="home">
                    <div class="container">
                      <div class="row">
                          <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
                              <b-card class="client">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text">{{ Dictionary.server_url }}</span>
                                      </div>
                                      <input type="text" class="form-control" @change="serverURLChange" v-model="settings.ServerURL">
                                  </div>
                              </b-card>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="chat">
                    <div class="container">
                        <div class="row">
                            <div :class="{ 'col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12': !PresentationMode, 'col-lg-12': PresentationMode }" class="col">
                                <div class="card">
                                    <div class="card-header text-center">
                                      <img src="/img/favicon.png" />
                                      <p>NOVA</p>
                                    </div>
                                    <div class="card-body" id="message_body">
                                        <div v-for="message in messages" class="row" v-bind:class="[message.FromServer ? 'justify-content-start' : 'justify-content-end']">
                                            <div class="col col-8">
                                                <div class="message">
                                                    <span>{{ message.Content }}</span>
                                                    <div class="date">{{ getMessageDate(message.ID) }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <form autocomplete="off" class="input-group" @submit="sendMessage" action="cs_message">
                                            <input v-model="input" class="form-control" type="text" name="message" placeholder="Type your message..." />
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="submit">
                                                    <i class="far fa-paper-plane"></i>
                                                </button>
                                                <button @click="startSTTClick" class="btn btn-secondary" type="button">
                                                    <i class="far fa-microphone"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-4 d-none d-md-block d-lg-block d-xl-block" v-if="!PresentationMode">
                                <div class="card">
                                    <div class="card-header">{{ Dictionary.what_can_i_ask }}</div>
                                    <div class="card-body">
                                        <ul>
                                            <li>"What's the weather like?"</li>
                                            <li>"Show me camera image in the kitchen"</li>
                                            <li>"What's the temperature in the kitchen?"</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <slot v-if="!PresentationMode">
                <span id="serverState" v-if="server.state" class="badge badge-success">Connected</span>
                <span id="serverState" v-if="!server.state" class="badge badge-danger">Disconnected</span>
            </slot>
        </main>
    </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/lib/vue/vue-dev.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="/js/lib/socket.io/socket.io.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/lib/fontawesome/all.min.js"></script>
    <script src="/js/Volume.js"></script>
    <script src="/js/Main.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
