$nav_height: 54px;
$border_color: #E0E5EC;
$message_color: #09f;
$message_date_color: #282828;

html{
  body{
    margin: 0px;
    font-family: "Roboto", sans-serif;

    > #app{
      height: 100%;
      width: 100%;

      > #body{
        background-color: #f5f7fb;
        height: 100%;
        width: 100%;

        &.backgroundWhite{
          background-color: white;
        }

        > #serverState{
          position: fixed;
          top: calc(54px / 2);
          right: 18px;
          transform: translateY(-50%);
        }

        > .nav{
          background-color: white;
          border-bottom: 1px solid $border_color;
          height: $nav_height;
          box-sizing: content-box;
          padding: 0px 18px;

          > li{
            height: $nav_height;
            padding: 0px 12px;

            > a{
              height: $nav_height;
              line-height: $nav_height;
              padding: 0px;
              cursor: pointer;
              border-radius: 0px;
              border: none;
              text-decoration: none;

              &:focus{
                outline: 0;
              }

              &.active{
                background-color: transparent;
                color: #467fcf;
              }

              &:not(.active){
                color: #9aa0ac;
              }

              > svg{
                font-size: 14px;
              }

              > span{
                font-size: 15px;
              }
            }
          }
        }

        > .tab-content{
          height: calc(100% - #{$nav_height} - 1px);
          padding: 15px;
          overflow: auto;

          &.withoutTopBar{
            height: 100%;

            > .tab-pane{
              &#chat{
                > .container{
                  > .row{
                    > .col{
                      &:first-child{
                        > .card{
                          width: 690px;
                          height: 372px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          > .tab-pane{
            min-height: 100%;

            &#chat{
              > .container{
                > .row{
                  height: 100%;

                  > .col{
                    &:first-child{
                      > .card{
                        height: calc(100% - 15px * 2);

                        > .card-body{
                          overflow: auto;

                          > .row{
                            &.justify-content-end{
                              > .col{
                                > .message{
                                  background-color: $message_color;
                                  color: white;
                                  float: right;

                                  > .date{
                                    right: calc(100% + 15px);

                                    &:after{
                                      left: 100%;
                                      border-width: 5px 0 5px 8.7px;
                                      border-color: transparent transparent transparent $message_date_color;
                                    }
                                  }
                                }
                              }
                            }

                            &.justify-content-start{
                              > .col{
                                > .message{
                                  background-color: #f1f0f0;
                                  color: black;
                                  float: left;

                                  > .date{
                                    left: calc(100% + 15px);

                                    &:after{
                                      right: 100%;
                                      border-width: 5px 8.7px 5px 0;
                                      border-color: transparent $message_date_color transparent transparent;
                                    }
                                  }
                                }
                              }
                            }

                            > .col{
                              > .message{
                                padding: 6px 12px;
                                border-radius: 20px;
                                position: relative;

                                > .date{
                                  position: absolute;
                                  background-color: $message_date_color;
                                  color: white;
                                  padding: 6px 8px;
                                  border-radius: 2px;
                                  line-height: 16px;
                                  font-size: 12px;
                                  top: 50%;
                                  transform: translateY(-50%);
                                  clear: both;
                                  display: inline-block;
                                  white-space: nowrap;

                                  &:after{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                  }
                                }

                                &:not(:hover){
                                  > .date{
                                    display: none;
                                  }
                                }
                              }

                              &:not(:last-child){
                                margin-bottom: 15px;
                              }
                            }

                            &:not(:last-child){
                              margin-bottom: 15px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            > .container{
              > .row{
                > .col{
                  padding-top: 15px;
                  padding-bottom: 15px;

                  > .card{
                    border-color: $border_color;

                    > .card-header, > .card-footer{
                      background-color: transparent;
                      border-color: $border_color;
                    }

                    > .card-footer{
                      padding: 15px;

                      > .input-group{
                        margin-bottom: 0px;

                        > input{
                          border: none;
                          border-radius: 100px;
                          background-color: #F2F2F2;
                          font-size: 14px;
                          margin-right: 15px;

                          &:focus{
                            box-shadow: none;
                          }
                        }

                        > .input-group-append{
                          > button{
                            border-radius: 50%;
                            color: $message_color;
                            background-color: transparent;
                            border-color: $border_color;
                            width: 35px;
                            padding: 0px;
                            text-align: center;

                            &:not(:last-child){
                              margin-right: 15px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
